body{
    background-color: #E1EFF2;
}

.wrapper {
    display: flex;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background:black;
    color: #fff;
}
.bx-book-alt{
    color:rgba(67,61,61,0.65);
}
.bxs-book-reader{
    color:rgba(67,61,61,0.65);
}
.bx-comment-edit{
    color:rgba(67,61,61,0.65);
}
.bxs-category-alt{
    color:rgba(67,61,61,0.65);
}
